#join-conf {        
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    max-width: 100%;
}

#calendarDiv {
    flex: 1;
}

.mini-layout-body {
    flex: 1;
}

#add-meeting {
    flex: 1;

}

#join-conf h1 {
    margin: 5%;
}

.list-group-item {
    display:flex;
}

.timeDiv {
    flex:1;
}

.meetingNameDiv {
    flex:3;
    display:flex;
    justify-content: center;
}

.join-meeting-btn {
    flex:1;
}